{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
<!--banner-->
<div class="banner-top">
   <div class="container">
      <h3 >Tentang Kami</h3>
      <h4><a href="/">Beranda</a><label>/</label>Tentang Kami</h4>
      <div class="clearfix"> </div>
   </div>
</div>
<!-- faqs -->
<div class="about-w3 ">
   <!--about-->
   <div class="container">
      <div  class="about">
         <div class="spec ">
            <h3>Tentang Kami</h3>
            <div class="ser-t">
               <b class="line"></b>
            </div>
         </div>
         <div class="col-md-4 about-right">
            <img class="img-responsive" src="/static/assets/images/sa.jpg" alt="">
         </div>
         <div class="col-md-4 about-left">
            <p>Organiku adalah sebuah e-commerce yang fokus pada penjualan organik yang memikili tujuan dapat menyehatkan konsumen serta dapat mengedukasi konsumen terhadap konsumsi beras organik. Organiku juga mempunyai tujuan agar masyarakat Indonesia bisa mengkonsumsi Beras Organik secara mudah. </p>
         </div>
         <div class="col-md-4 about-right">
            <img class="img-responsive" src="/static/assets/images/ds.jpg" alt="">
         </div>
         <div class="clearfix"> </div>
      </div>
   </div>
   <!--//about-->
   <!--work-experience-->
   <div  class="work">
      <div class="container">
         <div class="spec spec-w3ls">
            <h3>Perjalanan Kita</h3>
            <div class="ser-t">
               <b></b>
               <span><i></i></span>
               <b class="line"></b>
            </div>
         </div>
         <div class="work-info">
            <div class="col-md-6 work-left">
               <div class=" work-w3 ">
                  <h5> Oktober 2017</h5>
                  <p style="font-size: 16px">Brain Storming Startup dan Pembentukan Tim Organiku.id</p>
                  <img src="/static/assets/images/pembentukanq.jpg" style="width: 400px;" />
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-right">
               <div class=" work-w31">
                  <h5> Nopember 2017</h5>
                  <p style="font-size: 16px">Riset, Survei dan Sesi diskusi dan bertanya pada Ahli</p>
                  <img src="/static/assets/images/survey.jpg" style="width: 400px;" />
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-left">
               <div class=" work-w3 ">
                  <h5> Desember 2017</h5>
                  <p style="font-size: 16px"> Belajar Pengelompokan dan memadukan data hasil riset di lapangan.</p>
                  <img src="/static/assets/images/pengelompokan.jpg" style="width: 400px;" />
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-right">
               <div class=" work-w31">
                  <h5> Desember 2017</h5>
                  <p style="font-size: 18px">Sesi belajar dan memahami Design User Interface dan User Experience.</p>
                  <img src="/static/assets/images/ui.jpg" style="width: 400px;" />
               </div>
               <label></label>
            </div>
            <div class="clearfix"> </div>
            <span> 2017</span>
         </div>
         <div class="work-info">
            <div class="col-md-6 work-left">
               <div class=" work-w3 ">
                  <h5> Januari 2018</h5>
                  <p style="font-size: 16px">Memulai Design Sprint untuk memetakan masalah, menganalisa akar masalah dan mencari solusi yang tepat. </p>
                  <img src="/static/assets/images/sr.jpg" style="width: 400px;"/>
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-right">
               <div class=" work-w31">
                  <h5> Pebruari 2018</h5>
                  <p style="font-size: 18px">Memahami dan membuat Perencanaan serta Proyeksi Keuangan </p>
                  <img src="/static/assets/images/pro.jpg" style="width: 400px;"/>
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-left">
               <div class=" work-w3 ">
                  <h5> Maret 2018</h5>
                  <p style="font-size: 18px"> Tahap pembuatan aplikasi di dampingi mentor.</p>
                  <img src="/static/assets/images/devel.jpeg" style="width: 400px;" />
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-right">
               <div class=" work-w31">
                  <h5> April 2018</h5>
                  <p style="font-size: 18px">Validasi dan Siap untuk launching </p>
                  <img src="/static/assets/images/validationstagesuccess.jpg" style="width: 400px;"/>
               </div>
               <label></label>
            </div>
            <div class="col-md-6 work-left">
                <div class=" work-w3 ">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px"> Brainstorming & Belajar Fundamental Marketing.</p>
                   <img src="/static/assets/images/brainstormingmarketing.jpeg" style="width: 400px;" />
                </div>
                <label></label>
             </div>
             <div class="col-md-6 work-right">
                <div class=" work-w31">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Team organiku closing 20kg Beras Organik</p>
                   <img src="/static/assets/images/closing20kg.jpeg" style="width: 400px;"/>
                </div>
                <label></label>
             </div>
             <div class="col-md-6 work-left">
                <div class=" work-w3 ">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Training Offline Marketing Sales Fundamental</p>
                   <img src="/static/assets/images/offlinemarketingtraining.jpeg" style="width: 400px;" />
                </div>
                <label></label>
             </div>
             <div class="col-md-6 work-right">
                <div class=" work-w31">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Data Driven (Memahami dan mengumpulkan data) dan membuat appointment dengan Calon Pembeli/Pelanggan) </p>
                   <img src="/static/assets/images/datadrivenmarketing.jpeg" style="width: 400px;"/>
                </div>
                <label></label>
             </div>

             <div class="col-md-6 work-left">
                <div class=" work-w3 ">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Closing Kedua setelah belajar offline sales fundamental</p>
                   <img src="/static/assets/images/closingtwo.jpeg" style="width: 400px;" />
                </div>
                <label></label>
             </div>
             <div class="col-md-6 work-right">
                <div class=" work-w31">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Persiapan untuk Offline sales marketing tanpa membuat appointment atau closing secara random dan langsung d lapangan.</p>
                   <img src="/static/assets/images/closingrandompreparing.jpeg" style="width: 400px;"/>
                </div>
                <label></label>
             </div>
             <div class="col-md-6 work-left">
                <div class=" work-w3 ">
                   <h5> Mei 2018</h5>
                   <p style="font-size: 18px">Closing secara random/langsung di lapangan. </p>
                   <img src="/static/assets/images/randomclosing.jpeg" style="width: 400px;" />
                </div>
                <label></label>
             </div>
             
            <div class="clearfix"> </div>
            <span> 2018</span>
            <span class="last"> </span>
         </div>
      </div>
   </div>
   <!--//work-experience-->
   <!--advantages--> 
   <!--advantages--> 
</div>
<!-- // Terms of use -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/assets/js/move-top.js"></script>
<script type="text/javascript" src="/static/assets/js/easing.js"></script>
{% endblock %}